@use "reset.scss";
@use "variables/globals.scss";
@use "themes/light.scss";
@use "themes/dark.scss";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
